.cards-container {
    margin: 0;
    padding: 0;
	display: grid;
	max-width: 100%;
	grid-template-rows: 1fr;
}

@media screen and (max-width: 768px) {
	.cards-container {
		grid-template-columns: repeat(5, 244px);
	}
}