.card__banner {
    display: grid;
    grid-template-rows: min-content 1fr repeat(2, 56px);
    margin: 0;
    height: 300px;
    background: var(--bg-olive);
    box-sizing: border-box;
}

@media screen and (max-width: 1439px) {
	.card__banner {
        height: 341px;
	}
}