.header__btn-back {
  font-family: var(--font-family-formular);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0;
  min-height: 31px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  /* 	outline: 1px solid blue; */
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  align-self: start;
  width: 100%;
  max-width: 1410px;
  padding-top: 33px;
  padding-left: 30px;
  border-top: 1px solid black;
}

@media screen and (max-width: 768px) {
  .header__btn-back {
    grid-row-start: 1;
    grid-column-start: 4;
    padding-top: 8px;
    padding-left: 0;
    padding-top: 20px;
	border: none;
  width: 105px;
  }
}
