.cards-container_type_personalities {
    justify-content: center;
    padding: 63px 0 0 30px;
    grid-template-columns: repeat(4, 210px);
    gap: 30px;
}

@media screen and (max-width: 1024px) {
    .cards-container_type_personalities {
        justify-content: left;
        padding: 27px 0 0;
        grid-template-columns: repeat(4, 213px);
    }
}
