.cooperation__title {
  font-family: var(--font-family-neue-machina);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 38px;
  letter-spacing: -0.01em;
  margin: 0;
  margin-bottom: 33px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .cooperation__title{
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 16px;
  }
}

