.section-link__text {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    font-feature-settings: 'ss01' on;
}