.header {
  margin: 0 auto;
  min-height: 72px;
  grid-area: header;
  width: 100%;
  max-width: 1440px;
  display: grid;
  align-items: center;
  outline: 1px solid blue;
  grid-template-columns: 30px 76px auto 1fr;
  justify-items: start;
  position: relative;
}

@media screen and (max-width: 768px) {
	.header {
		grid-template-columns: 24px 43px 19px 115px 1fr;
	}
}
