.section-plays {
    width: 100%;
    box-sizing: border-box;
    padding: 93px 60px 0;
    overflow: hidden;
    min-height: 540px;
}

@media screen and (max-width: 1024px) {
    .section-plays {
        padding: 97px 0 0 24px;
        min-height: 637px;
    }
}


/* @media screen and (max-width: 768px) {
    .section-plays {
    }
} */