.header__button {
  /*     max-width: 361px; */
  min-height: 50px;
  padding: 0 13px;
  /*     padding-left: 17px; */
  /*     text-align: left; */
  font-family: var(--font-family-formular);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--bg-black);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: var(--bg-light-grey);
  display: none;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

@media screen and (max-width: 1230px) {
  .header__button {
    display: none;
  }
}
