.footer__info-sites{
    margin-top: 30px;
    margin-bottom: 59px;
    padding-left: 40px;
    list-style: none;
}

@media screen and (min-width: 1150px){
    .footer__info-sites {
        display: flex;
    }
  }

  @media screen and (max-width: 768px){
    .footer__info-sites {
        padding-left: 27px;
    }
  }