:root {
    --font-family-formular: 'Formular', Arial, sans-serif;
    --font-family-neue-machina: 'Neue Machina', Arial, sans-serif;
    --bg-black: #242424;
    --bg-withe: #ffffff;
    --bg-beige: #ecebe8;
    --bg-olive: #b7c09d;
    --bg-light-grey: #E5E5E5;
    --img-arrow-45: url(../../../../image/arrow-45.svg);
    --img-arrow-down: url(../../../../image/arrow-down.svg);
    --img-arrow-right: url(../../../../image/arrow-right.svg);
}