:root {
    --font-family-formular: 'Formular', Arial, sans-serif;
    --font-family-neue-machina: 'Neue Machina', Arial, sans-serif;
    --bg-black: #242424;
    --bg-withe: #ffffff;
    --bg-beige: #ecebe8;
    --bg-olive: #b7c09d;
    --bg-light-grey: #E5E5E5;
}