.card__location {
    margin: 0;
    padding: 7px 0 0 1px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.001em;
}

@media screen and (max-width: 768px) {
	.card__location {
        padding: 10px 0 0;
	}
}