.footer__info-links {
  display: grid;
  margin: 0;
  padding: 0;
  text-align: start;
  list-style: none;
  margin: 56px 81px 55px 55px;
}

@media screen and (min-width: 880px) {
  .footer__info-links {
    display: flex;
    grid-column: 4/6;
    grid-row: 3;
    margin: 0;
    margin-left: 70px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1250px) {
  .footer__info-links {
    grid-column: 3/6;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 1150px) {
  .footer__info-links {
    justify-content: space-evenly;
  }
}
