.personalities {
    margin: 0 60px;
    padding: 93px 0 0;
    max-width: calc(100% - 120px);
    overflow: hidden;
}

@media screen and (max-width: 1439px) {
    .personalities {
        margin: 0 24px;
        padding: 97px 0 0;
    }
}

/* * {
  border: solid red 1px;
} */