.header__menu-body {
	display: flex;
	outline: 1px solid green;
	grid-row-start: 1;
	grid-column-start: 3;
	grid-column-end: 5;
	min-height: 50px;
}
/* 
@media screen and (max-width: 768px) {
	.header__menu-body {
		display: none;
	}
}  */
 
@media screen and (max-width: 768px) {
	.header__menu-body {
		position: fixed;
		min-height: 300px;
		top: 72px;
		left: -100%;
		transition: left 0.3s ease 0s;
		overflow: auto;
		display: none;
	}
	.header__menu-body::before {
		content: "";
		position: fixed;
		top: 11px;
		left: 0;
		height: 72px;
		z-index: 2;
	}
	.header__menu-body._active {
		top: 90px;
		left: 0;
		display: block;
	}
}


