.card__dramatist {
    margin: 0;
    padding: 13px 0 0 2px;
    max-width: 190px;
    font-family: var(--font-family-neue-machina);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

@media screen and (max-width: 1439px) {
	.card__dramatist {
        padding: 21px 0 0;
        max-width: 243px;
	}
}